@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,300&family=Roboto:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #3A3A3A;
    --secondary: #8C6E43;
    --tertiary: #BCA279;
    --white: #FFFFFF;
    --shade-primary: #F9F4ED;
    --shade-secondary: #FEFAF6;

    --error: #BE1217;
    --success: #3E7957;
    --focus: #768693;
    --links: #8A6B42;
    --utility: #D7D7D7;
    --copy: #000000;
}

body {
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin: 2em;
    margin-left: 4em;
    margin-right: 4em;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 1em;
}

p { 
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: .2em;
}

input {
    width: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 3px;
}

input:focus {
    min-width: 50%;
    width: auto;
}

@media only screen and (max-width: 900px) {
    input {
      width: 70px;
    }
  }

@media only screen and (max-width: 500px) {
input {
    width: 50px;
}
}

th input {
    background-color: var(--shade);
}

input[inputmode=numeric] {
    width: 98.3%;
    text-align: center;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

button[type=submit] {
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: medium;
}

button[type=submit]:nth-of-type(2) {
    display: none;
}

button[type=copy] {
    width: 100%;
    background-color: var(--tertiary);
    color: var(--white);
    padding-top: 14px;
    padding-bottom: 11px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2em;
    margin-bottom: 2em;
}

button[type=copy] span {
    position: static;
    margin-left: 8px;
    text-align: center;
    padding-bottom: 8px;
    font-size: medium;
}

button[type=copy].flex-container {
    display: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}

svg {
    position: relative;
    top: 2px;
}

table {
    position: relative;
    margin: auto;
}

@media only screen and (max-width: 700px) {
    table {
      /* margin-left: 0%;
      margin-right: 0%; */
      margin: auto;
      width: auto;
    }
  }

th {
    background-color: var(--shade-primary);
}

#promo-table {
    position: absolute;
}

.container {
    margin: auto;
    width: 675px;
}

@media only screen and (max-width: 700px) {
    .container {
      margin: none;
      width: 100%;
    }
  }

pre {
    display: none;
    background-color: var(--shade-primary);
    border: none;
    border-radius: 4px;
    padding: 1em;
    overflow-x: auto;
}
footer {
    height: 50vh;
}